<%= form_with model: @comic_books do |form| %>
  <div>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
    <% @comic_books.errors.full_messages_for(:title).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :volume %><br>
    <%= form.text_area :volume %><br>
    <% @comic_books.errors.full_messages_for(:volume).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.label :publisher %><br>
    <%= form.text_area :publisher %><br>
    <% @comic_books.errors.full_messages_for(:publisher).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
