<h1><%= @comic_book.title %></h1>

<p><%= @comic_book.volume %></p>
<p><%= @comic_book.publisher %></p>

<ul>
  <li><%= link_to "Edit", edit_comic_book_path(@comic_book) %></li>
  <li><%= link_to "Destroy", comic_book_path(@comic_book), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></li>
</ul>

<h2>Borrower</h2>
<% @comic_book.borrowers.each do |borrower| %>
  <p>
    <strong>borrower:</strong>
    <%= borrower.borrower %>
  </p>

  <p>
    <strong>borrower:</strong>
    <%= borrower.body %>
  </p>
<% end %>

<ul>
  <li><%= link_to "New", new_comic_book_borrower_path(@comic_book) %></li>
</ul>

